language: cpp
sudo: required
arch: arm64
compiler:
- gcc 
os:
- linux
ruby: 2.2.0
script:
 mkdir llvm-build && cd llvm-build && cmake -DCMAKE_BUILD_TYPE=Release -DLLVM_ENABLE_PROJECTS=clang -G "Unix Makefiles" ../llvm && make -j32 && make check-all -j32
branches:
  only:
  - master
notifications:
  email: false
